html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body>.dialog-off-canvas-main-canvas>.layout-container,
body>#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

// Links
$link-color: $blue;
$link-hover-color: $blue-500;
$link-hover-decoration: none;

// Labels
$label-color: $gray;

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;

    /*
    .container {
      max-width: $container-sm;
      width: auto;
    }
    */
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;

    /*
    .container {
      max-width: $container-md;
      width: auto;
    }
    */
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;

    /*
    .container {
      max-width: $container-lg;
      width: auto;
    }
    */
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}

h1,
.h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h2,
.h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3,
.h3 {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h4,
.h4 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

button, input, optgroup, select, textarea {
  color: inherit;
}

.text-align-center {
  text-align: center;
}

/* UNOGWEB-966 */
.sr-only {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.nobreak {
  white-space: nowrap;
}
