.brandbar {
  line-height: 2;
  background-color: #f2f2f2;
  border-bottom: 5px solid $un-blue;
  z-index: 100;
  display: block;
  position: relative;
  
  .container > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #un-global-link-area {
    flex-grow: 1; // Push everything else out of the way
    line-height: 1;
    position: relative;
    padding-left: 30px;

    @media (max-width:370px) {
      max-width:150px;
    }
  }

  #un-global-link-area a {
    font-size: $font-size-small;
    text-decoration: none;
    color: #333;
  }

  #un-global-link-area a::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="200px" width="200px" viewBox="0 0 1640 1640"><path transform="translate(-12 1480) scale(1, -1)" fill="%23333" d="M1408 544v-480q0 -26 -19 -45t-45 -19h-384v384h-256v-384h-384q-26 0 -45 19t-19 45v480q0 1 0.5 3t0.5 3l575 474l575 -474q1 -2 1 -6zM1631 613l-62 -74q-8 -9 -21 -11h-3q-13 0 -21 7l-692 577l-692 -577q-12 -8 -24 -7q-13 2 -21 11l-62 74q-8 10 -7 23.5t11 21.5l719 599q32 26 76 26t76 -26l244 -204v195q0 14 9 23t23 9h192q14 0 23 -9t9 -23v-408l219 -182q10 -8 11 -21.5t-7 -23.5z" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 5px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
  }

  // Theme the dropdown based language switcher
  .language-switcher-dropdown {
    display: none;  // Hide or show the appropriate language switcher.

    .form-item {
      margin: 0;
    }

    .form-item__dropdown,
    .form-item__dropdown:hover {
      border: none;
      display: inherit;
    }

    .form-item__dropdown {
      width: auto;
      float: right;

      select {
        border: none;
        width: 100px !important;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        font-weight: 500;
        padding: 0 15px 0 20px;
        background: url('../images/lang_bar_globe.svg') no-repeat;
        background-size: 16px 16px;
        background-position: center left;
        text-align: left;
        appearance: none;

      }

      &::after {
        padding-right: 0;
        color: #333;
      }

      @include breakpoint(0 $small-max) {
        padding-right: 0;

        select {
          width: 90px !important;
        }

        &::after {
          right:0;
        }
      }
    }
  }

  // Theme the link based language switcher
  #language-switcher-area ul {
    list-style-type: none;
    margin: 0;

    @include clearfix;

    li {
      float: left;
      text-decoration: none;
      color: $black;
      font-size: $font-size-small;
      margin: 0 0 0 16px;
      padding: 0;

      a {
        color: $black;
        text-decoration: none;

        &:not([hreflang="ar"]):not([hreflang="zh-hans"]) {
          font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
        }
      }

      a.is-active {
        font-weight: bolder;
      }
    }
  }

  // Hide or show the appropriate language switcher.
  .language-switcher-links {
    display: block;
  }

  @media (max-width: 767px) {
    .language-switcher-dropdown {
      display: block;
    }

    .language-switcher-links {
      display: none;
    }
  }
}
