.field_featured_image {
  position: relative;

  &.with-video-embed {
    .colorbox-iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      bottom: 0;
      right: 0;
      align-items: flex-end;
      justify-content: flex-start;

      span {
        display: block;
        width: 60px;
        height: 60px;
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><rect width="256" height="256" style="paint-order: fill; fill: rgb(29, 112, 184);"/><g><g><g><path d="M 112.6 69.2 C 113.5 69.7 130.5 81.2 150.2 94.8 C 181.1 116 186.3 119.8 187.6 121.7 C 190.2 125.5 190.2 130.6 187.6 134.4 C 186.3 136.3 181.1 140.1 150.2 161.3 C 130.5 174.9 113.5 186.4 112.6 186.9 C 107 189.8 99.9 187.5 97.1 181.8 L 95.9 179.3 L 95.9 128 L 95.9 76.8 L 97.2 74.3 C 98.5 71.6 101.2 69.3 104.2 68.4 C 106.5 67.6 110.4 68 112.6 69.2 Z" style="fill: rgb(255, 255, 255);"/></g></g></g></svg>');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover span {
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><rect width="256" height="256" style="paint-order: fill; fill: rgb(255, 255, 255);"/><g><g><g><path d="M 112.6 69.2 C 113.5 69.7 130.5 81.2 150.2 94.8 C 181.1 116 186.3 119.8 187.6 121.7 C 190.2 125.5 190.2 130.6 187.6 134.4 C 186.3 136.3 181.1 140.1 150.2 161.3 C 130.5 174.9 113.5 186.4 112.6 186.9 C 107 189.8 99.9 187.5 97.1 181.8 L 95.9 179.3 L 95.9 128 L 95.9 76.8 L 97.2 74.3 C 98.5 71.6 101.2 69.3 104.2 68.4 C 106.5 67.6 110.4 68 112.6 69.2 Z" style="fill: rgb(29, 112, 184);"/></g></g></g></svg>');
      }

      @media (min-width: 992px) {
        span {
          width: 80px;
          height: 80px;
        }
      }
  
    }
  }
}