{% if directory %}
  {% if item['#node'].hasField('field_featured_video') and item['#node'].field_featured_video[0].entity %}
    {% set has_video = true %}
    {% set video_embed_url = item['#node'].field_featured_video[0].entity.field_media_oembed_video.value|oembed_url %}
    {% set link_title = item['#node'].getTitle %}
    {% set image_alt = 'Play video for'|t ~ link_title %}
  {% else %}
    {% set has_video = false %}
  {% endif %}

  {% if item['#node'].hasField('field_featured_image') and item['#node'].field_featured_image[0].entity %}
    {% set image_src = item['#node'].field_featured_image[0].entity|file_uri|image_style('showcase') %}
  {% elseif item['#node'].hasField('field_featured_video') and item['#node'].field_featured_video[0].entity %}
    {% set image_src = item['#node'].field_featured_video[0].entity.thumbnail|file_uri|image_style('showcase') %}
  {% endif %}

{% else %}
  {% set image_src = item.image_src %}
  {% if item.video_embed_url %}
    {% set has_video = true %}
    {% set image_alt = 'Play video for'|t ~ link_title %}
  {% else %}
    {% set image_alt = item.image_alt %}
    {% set has_video = false %}
  {% endif %}
{% endif %}

{{ attach_library('un_geneva_design_system/featured_media') }}

<div class="field_featured_image {% if has_video %}with-video-embed{% endif %}">
  {% if has_video %}
    <a href="{{ video_embed_url }}" class="colorbox-iframe" title="{{ image_alt }}">
  {% endif %}
      <article class="image">
        {% include '@atoms/images/image/_image.twig' with item %}
      </article>
  {% if has_video %}
    </a>
  {% endif %}
</div>
