.h1, .h2, .h3, .h4, .h5, .h6, .text-long h1, .text-long h2, .text-long h3, .text-long h4, .text-long h5, .text-long h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

html[lang=ru] .header__branding {
    max-width: 540px;

    .brand-body {
        max-width: 140px;

        @media (min-width: 480px) and (max-width: 560px) {
            display: none;
        }
    }

    .top-title a {
        font-size: 1.1rem;
    }

    .site-title-secondary {
        max-width: 250px;
        padding-top: 0;
        padding-bottom: 0;

        span {
            font-size: 1.1rem;
        }

        @media (min-width: 480px) and (max-width: 560px) {
            border-left: none;
        }
    }

    .site-branding.two-lines {
        .brand-body {
            max-width: 140px;
        }
    
        .top-title a {
            font-size: 1.1rem;
        }
    
        .site-title-secondary {
   
            span {
                font-size: 1.1rem;
            }
        }
    }
}

html[lang=es] .header__branding {
    max-width: 600px;

    .brand-body {
        max-width: 100px;
    }

    .site-title-secondary {
        max-width: 250px;
    }

    @include large {
        .brand-body {
            max-width: 130px;
        }
        .top-title a {
            font-size: 1.8rem;
        }
    }
    
    .site-branding.two-lines {
        .brand-body {
            max-width: 100px;
        }
    
        @include large {
            .brand-body {
                max-width: 130px;
            }
            .top-title a {
                font-size: 1.8rem;
            }
        }
    }
}

html[lang="zh-hans"] {
    body {
        font-family: 'Noto Sans SC', 'Roboto', 'Open Sans', 'Arial', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Noto Sans SC', 'Roboto', 'Open Sans', 'Arial', sans-serif;
    }

    .header__branding .site-title-secondary,
    .header__branding .site-title-secondary span,
    .focus-card__title,
    .showcase .node_title h3,
    .showcase .field_subtitle,
    h2.content-title {
        font-family: 'Noto Sans SC', 'Roboto', 'Open Sans', 'Arial', sans-serif;
    }
}

.fa-twitter::before {
    content: "\1D54F" !important;
}