{#
/**
 * @file
 * Theme for a container of links.
 * 
 * Links can be buttons or card and can be included in diverse contexts.
 *
 * Available variables:
 * - links: List of all the link items. Each link contains:
 *   - content: The link item's content.
 */
#}
<div class="un-section container-fluid">
  <div class="container">
    {% include '@molecules/collapse/collapse.twig' %}
  </div>
</div>

