.field--label-inline {
  float: left; /* LTR */
  font-weight: bold;
  padding-right: 0.5em;
}

.field--label-inline::after {
  content: ':';
}

[dir="rtl"] .field--label-inline {
  padding-left: 0.5em;
  padding-right: 0;
  float: right;
}
