#views-view-faq_top_level_categories-embed_1 {
    .views-content {
        display: flex;
        flex-direction: column;

        .views-row {
            width: 100%;
        }
    }

    @include large {
        .views-content {
            max-height: 400px;
            flex-wrap: wrap;

            .views-row {
                width: 50%;
            }
        }
    }
}

.questions-list {
    list-style: none;
    margin: 0;
    padding: 0;
}