{% block machine_translated_label %}
  <div class="machine-translated-warning">
    <ul class="status__list">
      <li class="status status--neutral">{{ 'This page was translated using machine translation.'|t }} <a href="/{{ current_language }}/multilingualism-disclaimer">{{ 'Read more'|t }}</a>.</li>
    </ul>
  </div>
{% endblock %}
