<div id="block-header-search" class="block views-exposed-form">
  <form action="/en/main-search" method="get" id="views-exposed-form-main-search-page-1" accept-charset="UTF-8">
    <div class="js-form-item form-item">
      <label for="edit-search-api-fulltext" class="form-item__label">Search</label>
      <input placeholder="{{ 'Search'|t }}" type="text" id="edit-search-api-fulltext" name="search_api_fulltext" value="" size="30" maxlength="128" class="form-text form-item__textfield">
    </div>
    <div class="form-actions form-wrapper" id="edit-actions">
      <input type="submit" id="edit-submit-main-search" value="{{ 'Search'|t }}" class="button form-submit form-item__textfield" tabindex="-1">
    </div>
  </form>
</div>
