/*
@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    src: url($theme_path + '/fonts/OpenSans/opensansregularwebfont.eot');
    src:
        url($theme_path + '/fonts/OpenSans/opensansregularwebfont.eot') format('embedded-opentype'),
        url($theme_path + '/fonts/OpenSans/opensansregularwebfont.woff2') format('woff2'),
        url($theme_path + '/fonts/OpenSans/opensansregularwebfont.woff') format('woff'),
        url($theme_path + '/fonts/OpenSans/opensansregularwebfont.ttf') format('truetype'),
        url($theme_path + '/fonts/OpenSans/opensansregularwebfont.svg#opensansregularwebfont') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: bold;
    src: url($theme_path + '/fonts/OpenSans/OpenSansBold.eot');
    src:
        url($theme_path + '/fonts/OpenSans/OpenSansBold.eot') format('embedded-opentype'),
        url($theme_path + '/fonts/OpenSans/OpenSansBold.woff2') format('woff2'),
        url($theme_path + '/fonts/OpenSans/OpenSansBold.woff') format('woff'),
        url($theme_path + '/fonts/OpenSans/OpenSansBold.ttf') format('truetype'),
        url($theme_path + '/fonts/OpenSans/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url($theme_path + '/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url($theme_path + '/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url($theme_path + '/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
*/

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/Roboto/roboto-italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Roboto/roboto-light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Light.woff') format('woff');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Naskh Arabic';
    src: url('../fonts/NotoNaskhArabic/notonaskharabic-variablefont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('../fonts/NotoKufiArabic/NotoKufiArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

