.meeting-list-item {
  @include box-shadow-standout;

  &--meta {
    background-color: #777;
    color: #fff;
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;

    &--date {
      min-width: 140px;
    }
    &--room {
      align-self: flex-end;
      margin-left: auto;

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &--main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 2rem;
  }

  &--title {
    font-size:1.4rem;
    font-weight: bold;
  }

  &--recordings {
    display: flex;
    font-style: italic;
    margin-top: 1rem;
  }

  &--languages,
  &--transcripts {
    margin-right: 1rem;
  }

  &--status {
    padding: 1rem;
  }
}
